table {
    border-collapse: collapse;
    border: 1px solid linen;
}

thead {
    background-color: darkgreen;
    color: linen;
}

tbody {
    color: rgb(92, 22, 22);
}

th {
    padding: 15px;
}

td {
    padding: 5px;
}

tbody tr:hover {
    background-color: grey;
    color: rgb(140, 212, 212);
}

.landmark {
    width: 25%;
}

.significance {
    width: 40%;
}